.block {
	position: relative;
	display: flex;
	position: relative;
	flex-direction: column;
  	width: 100%;
  	height: 90%;
  	border-radius: 20px;
}

	.contentBlock {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		border-radius: 20px;
		justify-content: space-between;
	}

	@media (max-width: 1630px) {
		.block {
			  width: 99%;

		}
	}

	@media (max-width: 1380px) {
		.block {
			  width: 98%;

		}
	}

	@media (max-width: 1120px) {
		.block {
			  width: 97%;

		}
	}

	@media (max-width: 980px) {
		.block {
			  width: 96%;

		}
	}

	@media (max-width: 880px) {
		.block {
			  width: 95%;

		}
	}