/* ИМПОРТЫ */
@font-face {
	font-family: 'EpilepsySans';
	src: url('../fotns/EpilepsySans/EpilepsySans.ttf') format('truetype');
  }

  @font-face {
	font-family: 'RubikRegular';
	src: url('../fotns/RubikRegular/RubikRegular.ttf') format('truetype');
  }

@font-face {
	font-family: 'Fallout';
	src: url('../fotns/Fallout/galiver-sans-obliques.ttf') format('truetype');
}

@font-face {
	font-family: 'Noto Emoji';
	src: url('../fotns/NotoEmoji/NotoEmoji-Regular.ttf') format('truetype');
}
/* //////////// */
  :root {
	--DefaultFont: 'RubikRegular'; /* Общий шрифт */
	--PixelFont: 'EpilepsySans';
	--TransitionDefault: all 0.2s ease-in-out;
  }
/* Темы */
  /* ТЁМНЫЕ */

  /* Общие стили тёмных тем */
  .dark1, .dark2, .dark3, .dark4, .dark5 {
	--DefaultFont: 'RubikRegular'; /* Общий шрифт */
	--FontColor: #ffffff; /* Общий цвет текста */
	--BackgroundColor: #474B4F; /* Общий цвет заднего фона */
	--FontWeightLight: 200;

	--BlockColor: #ffffff; /* Цвет текста блока */
	--BlockBackgroundColor: #222629; /* Цвет заднего фона блока */

	--BtnColor: #ffffff; /* Цвет текста кнопок */
	--BtnBackgroundColor: #474B4F; /* Цвет кнопок */
	--BtnBackgroundColorHover: #6B6E70; /* Цвет кнопок при наведении */

	--BtnColorActive:#000000; /* Цвет текста активированных кнопок */
	--BtnBackgroundColorActive: #ffffff; /* Цвет активированных кнопок */
	--BtnBackgroundColorActiveHover: #aaaaaa; /* Цвет активированных кнопок при наведении */
  }
  /* ............ */

  /* Уникальные стили */
  .dark1 {
	--InfoBlockColor: #000000; /* Цвет текста информационного блока */
	--BoldBlackTextDisplay: 600;
	--InfoBlockColorHover: #505050;
	--InfoBlockBackgroundColor: rgba(97, 137, 47, 1); /* Цвет заднего фона информационного блока */
	--InfoBlockBackgroundColorDisplay: rgba(97, 137, 47, 0.5);

	--TableSecondColor: #446121; /* 2й цвет таблицы */

	--SwitchBackgroundOFF: rgb(97, 137, 47);
	--SwitchCircle: #000000;
  }
  
  .dark2 { /* Пиксельная тёмная зеленая тема */
	--InfoBlockColor: #ffffff; /* Цвет текста информационного блока */
	--InfoBlockColorHover: #aaaaaa;
	--InfoBlockBackgroundColor: rgba(97, 137, 47, 1); /* Цвет заднего фона информационного блока */
	--InfoBlockBackgroundColorDisplay: rgba(97, 137, 47, 0.5);

	--TableSecondColor: #446121; /* 2й цвет таблицы */

	--SwitchBackgroundOFF: rgb(97, 137, 47);
	--SwitchCircle: #ffffff;
  }

  .dark3 { /* Пиксельная тёмная белая тема */
	--InfoBlockColor: #000000; /* Цвет текста информационного блока */
	--BoldBlackTextDisplay: 600;
	--InfoBlockColorHover: #505050;
	--InfoBlockBackgroundColor: rgba(199, 199, 199, 1); /* Цвет заднего фона информационного блока */
	--InfoBlockBackgroundColorDisplay: rgb(199, 199, 199);

	--TableSecondColor: rgb(163, 163, 163); /* 2й цвет таблицы */

	--SwitchBackgroundOFF: rgb(199, 199, 199);
	--SwitchCircle: #000000;
  }

  .dark4 { /* Пиксельная тёмная зеленая тема */
	--InfoBlockColor: #ffffff; /* Цвет текста информационного блока */
	--InfoBlockColorHover: #aaaaaa;
	--InfoBlockBackgroundColor: rgb(161, 39, 39); /* Цвет заднего фона информационного блока */
	--InfoBlockBackgroundColorDisplay: rgba(161, 39, 39, 0.5);

	--TableSecondColor: rgb(122, 29, 29); /* 2й цвет таблицы */

	--SwitchBackgroundOFF: rgb(221, 67, 67);
	--SwitchCircle: #ffffff;
  }

  .dark5 { /* Пиксельная тёмная темная тема */
	--InfoBlockColor: #acacac; /* Цвет текста информационного блока */
	--InfoBlockColorHover: #969696; /* Цвет кнопки информационного блока при наведении */
	--InfoBlockBackgroundColor: rgba(54, 54, 54, 1); /* Цвет заднего фона информационного блока */

	--TableSecondColor: #494949; /* 2й цвет таблицы */

	--SwitchBackgroundOFF: rgb(54, 54, 54); /* Цвет отключенного переключателя */
	--SwitchCircle: #ffffff; /* Цвет кружочка переключателя */
  }
  /* ............ */


/* СВЕТЛЫЕ */

/* Общие стили тёмных тем */
.light1, .light2, .light3 {
	--DefaultFont: 'RubikRegular'; /* Общий шрифт */
	--FontColor: #000000; /* Общий цвет текста */
	--BackgroundColor: #ffffff; /* Общий цвет заднего фона */

	--BlockColor: #000000; /* Цвет текста блока */
	--BlockBackgroundColor: #E3E2DF; /* Цвет заднего фона блока */
	
	--BtnColor: #000000; /* Цвет текста кнопок */
	--BoldBlackTextButton: 600;
	--BtnBackgroundColor: #c2c2c2; /* Цвет кнопок */
	--BtnBackgroundColorHover: #a8a8a8; /* Цвет кнопок при наведении */

	--BtnColorActive:#ffffff; /* Цвет текста активированных кнопок */
	--LightWhiteTextButton: 200;
	--BtnBackgroundColorActive: #4b4b4b; /* Цвет активированных кнопок */
	--BtnBackgroundColorActiveHover: #606060; /* Цвет активированных кнопок при наведении */
}

/* Уникальные стили */
.light1 { /* Пиксельная светлая розовая тема */
	--InfoBlockColor: #000000; /* Цвет текста информационного блока */
	--BoldBlackTextDisplay: 600;
	--InfoBlockColorHover: #505050;
	--InfoBlockBackgroundColor: rgba(227, 175, 188, 1); /* Цвет заднего фона информационного блока */

	--TableSecondColor: rgb(221, 144, 163); /* 2й цвет таблицы */

	--SwitchBackgroundOFF: rgb(227, 175, 188);
	--SwitchCircle: #000000;
}

.light2 { /* Пиксельная светлая розовая тема */
	--InfoBlockColor: #ffffff; /* Цвет текста информационного блока */
	--InfoBlockColorHover: #cccccc;
	--InfoBlockBackgroundColor: rgba(54, 54, 54, 1); /* Цвет заднего фона информационного блока */

	--TableSecondColor: #5e5e5e; /* 2й цвет таблицы */

	--SwitchBackgroundOFF: rgb(54, 54, 54);
	--SwitchCircle: #ffffff;
}
/* ................. */

  /* СПЕЦИАЛЬНЫЕ СТИЛИ ДЛЯ ТЕМНЫХ/СВЕТЛЫХ ТЕМ */
  .light1 .btn, .light2 .btn {
	font-weight: 600;
  }

  .default .activeBtn, .dark1 .activeBtn, .dark2 .activeBtn, .dark3 .activeBtn{
	font-weight: 200;
  }

  .default .btn, .dark1 .btn, .dark2 .btn, .dark3 .btn, .personal1 .btn{
	font-weight: 200;
  }

  .default .activeBtn, .dark1 .activeBtn, .dark2 .activeBtn, .dark3 .activeBtn, .personal1 .activeBtn{
	font-weight: 600;
  }
  /* ..................... */


/* ПЕРСОНАЛИЗИРОВАННЫЕ ТЕМЫ */

.personal1, .personal2 {
	--DefaultFont: 'Fallout'; /* Общий шрифт */
	--FontColor: #FEEFA5; /* Общий цвет текста */
	--BackgroundColor: radial-gradient(circle, rgba(47,47,41,1) 0%, rgba(26,26,20,1) 100%); /* Общий цвет заднего фона */
	--FontWeightLight: 200;
	--BlockColor: #FEEFA5; /* Цвет текста блока */
	--BlockBackgroundColor: radial-gradient(circle, rgba(27,27,25,1) 0%, rgba(18,16,14,1) 100%);; /* Цвет заднего фона блока */

	--BtnColor: #FEEFA5; /* Цвет текста кнопок */
	--BtnBackgroundColor: radial-gradient(circle, rgba(49,30,21,1) 0%, rgba(80,62,45,1) 100%); /* Цвет кнопок */
	--BtnBackgroundColorHover: radial-gradient(circle, rgb(117, 72, 52)0%, rgb(97, 75, 55) 100%); /* Цвет кнопок при наведении */

	--BtnColorActive:#000000; /* Цвет текста активированных кнопок */
	--BtnBackgroundColorActive: radial-gradient(circle, rgba(255,254,1,1) 0%, rgba(229,108,35,1) 100%); /* Цвет активированных кнопок */
	--BtnBackgroundColorActiveHover: radial-gradient(circle, rgb(214, 214, 2) 0%, rgb(185, 89, 29) 100%); /* Цвет активированных кнопок при наведении */
}
.personal1{
	--InfoBlockColor: #1AF580; /* Цвет текста информационного блока */
	--InfoBlockColorHover: #11944e;
	--InfoBlockBackgroundColor: rgb(4, 29, 16); /* Цвет заднего фона информационного блока */

	--TableSecondColor: rgb(9, 61, 34); /* 2й цвет таблицы */

	--SwitchBackgroundOFF: rgb(4, 29, 16);
	--SwitchCircle: #1AF580;
}

.personal1 .play::before {
	border-color: transparent transparent transparent #FEEFA5; /* Цвета границ треугольника */
} 

.personal1 .play::before:hover {
	border-color: transparent transparent transparent #000000; /* Цвета границ треугольника */
} 

.personal1 .play, .personal1 .pause, .personal1 .reset {
	background: var(--BtnBackgroundColor);
} 

.personal1 .play:hover, .personal1 .pause:hover, .personal1 .reset:hover {
	background: var(--BtnBackgroundColorActive);
	color: var(--BtnColorActive);
} 

.personal1 .pause::before,
.personal1 .pause::after,
.personal1 .reset::before {
	background: var(--BtnColor);
}

.personal1 .pause::before:hover,
.personal1 .pause::after:hover,
.personal1 .reset::before:hover {
	background: var(--BtnColorActive) !important;
}

.personal1 button, .personal1 .btn {
	color: var(--BtnColor);
}

.personal1 button:hover, .personal1 .btn:hover {
	color: var(--BtnColorActive);
}

.personal1 .activeBtn {
	color: var(--BtnColorActive);
}  /* Цвет нажатых кнопок и текста в них */

.personal1 .activeBtn:hover {
	color: var(--BtnColor);
} /* Цвет нажатых кнопок и текста в них при наведении */

.personal2{
	--InfoBlockColor: #ffc64a; /* Цвет текста информационного блока */
	--InfoBlockColorHover: #dbaa40;
	--InfoBlockBackgroundColor: #1f180c; /* Цвет заднего фона информационного блока */

	--TableSecondColor: #352915; /* 2й цвет таблицы */

	--SwitchBackgroundOFF: rgb(31, 24, 12);
	--SwitchCircle: #ffc64a;
}

.personal2 .play::before {
	border-color: transparent transparent transparent #FEEFA5; /* Цвета границ треугольника */
} 

.personal2 .play::before:hover {
	border-color: transparent transparent transparent #000000; /* Цвета границ треугольника */
} 

.personal2 .play, .personal2 .pause, .personal2 .reset {
	background: var(--BtnBackgroundColor);
} 

.personal2 .play:hover, .personal2 .pause:hover, .personal2 .reset:hover {
	background: var(--BtnBackgroundColorActive);
	color: var(--BtnColorActive);
} 

.personal2 .pause::before,
.personal2 .pause::after,
.personal2 .reset::before {
	background: var(--BtnColor);
}

.personal2 .pause::before:hover,
.personal2 .pause::after:hover,
.personal2 .reset::before:hover {
	background: var(--BtnColorActive) !important;
}

.personal2 button, .personal2 .btn {
	color: var(--BtnColor);
}


.personal2 .activeBtn {
	color: var(--BtnColorActive);
}  /* Цвет нажатых кнопок и текста в них */


.personal1 .themeBlock, .personal2 .themeBlock {
	background-image: url(../media/img/pipboyPanel.svg);
	background-size: cover; /* Размер изображения */
}	
/* /////////////////////////////////////////// */
/* ............ */


/* Стили элементов */

/* Общие стили */
.App {
	font-family: var(--DefaultFont);
	background: var(--BackgroundColor);
	color: var(--FontColor);
}

h1 {
	font-weight: var(--FontWeightLight);
}

input, button{
	font-family: var(--DefaultFont);
}

select {
	background: transparent;
	color: var(--InfoBlockColor);
	font-family: var(--PixelFont);
}

option {
	background: var(--InfoBlockBackgroundColor);
	color: var(--InfoBlockColor);
}

button, .btn {
	background: var(--BtnBackgroundColor);
	color: var(--BtnColor);
	transition: var(--TransitionDefault);
}

textarea {
	background: transparent;
	color: var(--BtnColor);
	transition: var(--TransitionDefault);
}

textarea::placeholder {
	color: var(--BtnColor);
}

button:hover, .btn:hover {
	background: var(--BtnBackgroundColorHover);
}

/* ///////////// */

.themeBlock {
	background: var(--BlockBackgroundColor);
	color: var(--BlockColor);
}	/* Цвет блоков */

.infoBlock {
	background: var(--InfoBlockBackgroundColor);
	color: var(--InfoBlockColor);
	font-weight: var(--BoldBlackTextDisplay);
	transition: background 1s ease-in-out;
	font-family: var(--PixelFont);
} /* Цвет дисплея и текста в нём */

.noActiveBtn {
	background: var(--BtnBackgroundColor);
	color: var(--BtnColor);
	transition: var(--TransitionDefault);
} /* Цвет input кнопки, которая пока не имеет никаких функций */

.infoBlock button{
	background: var(--InfoBlockColor) !important;
	color: var(--InfoBlockBackgroundColor) !important;
	font-family: var(--PixelFont);
} /* Цвет кнопок дисплея и текста в ней */

.infoBlock button:hover{
	background: var(--InfoBlockColorHover) !important;
} /* Цвет кнопок дисплея и текста в ней при наведении */

.modals {
	background: var(--BlockBackgroundColor);
} /* Цвет Модального окна (такой же как и цвет Block) */

.activeBtn {
	background: var(--BtnBackgroundColorActive);
	color: var(--BtnColorActive);
}  /* Цвет нажатых кнопок и текста в них */

.activeBtn:hover {
	background: var(--BtnBackgroundColorActiveHover);
} /* Цвет нажатых кнопок и текста в них при наведении */

/* Кнопки таймера */
.play::before {
	border-color: transparent transparent transparent var(--BlockBackgroundColor); /* Цвета границ треугольника */
} 
.pause::before,
.pause::after,
.reset::before {
	background: var(--BlockBackgroundColor);
}

.play, .pause, .reset {
	background: var(--BtnBackgroundColorActive);
}

.play:hover, .pause:hover, .reset:hover {
	background: var(--BtnBackgroundColorActiveHover);
}
/* ////////////////// */

.voteNumber {
color: var(--InfoBlockColor);
}

.tableRow:nth-child(odd) {
background: var(--TableSecondColor);
}

.switchOFF, .switchOFF1, .selectBlock {
background: var(--SwitchBackgroundOFF);
filter: brightness(0.6);
}

.switchON, .switchON1, .switchON2 {
	background: var(--InfoBlockBackgroundColor);
	filter: brightness(1);
}

.selectBlockON {
filter: brightness(1);
transition: var(--TransitionDefault);
}

.switchCircle {
background: var(--SwitchCircle);
color: var(--InfoBlockBackgroundColor);
}

.mainDiv {
filter: brightness(1.3);
}

.mainDiv::before {
background:  var(--InfoBlockBackgroundColorDisplay);
filter: brightness(1.2);
transition: background 1s ease-in-out;
}

.smile {
	font-family: 'Noto Emoji', sans-serif;
}
/* //////////////////////// */