.modalThemes {
	display: flex;
	border-radius: 10px;
	padding: 10px 10px;
	font-size: 20px;
	flex-direction: column;
}

.modalThemes select{
	width: 200px;
	height: 50px;
	border-radius: 20px;
	font-size: 20px;
	background-color: transparent;
	border: 0;
}

.changeTheme {
display: flex;
align-items: center;
}

.noEffects {
display: flex;
align-items: center;
}

.noEffects .switch{
	width: 50px;
	height: 50px;
	transform: scale(0.5);
}
