.timePanel{
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100%;
	font-size: 6rem;
	border-right: 2px solid black;
	padding: 0px 10px;
	justify-content: center;
	align-items: center;
} /* Блок с таймером в TimeVotePanel*/

@media (max-height: 720px) {
	.timePanel{
		font-size: 5rem;
	}
	}

@media (max-height: 580px) {
	.timePanel{
		font-size: 3.8rem;
	}
}

@media (max-height: 480px) {
	.timePanel{
		font-size: 3rem;
	}
}
